{% extends 'base.html' %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block title%}
Menu | 
{% endblock title %}
{% block body %}
<h1 style="text-align: center;color: black; background-color: rgb(238, 217, 185); margin: 0px 0px;">Menu</h1>
<div style="margin:0px auto; background-color: rgb(238, 217, 185);">
<figure class="figure" style="display: inline block;border: 5px solid rgb(0, 0, 0);width:33%">
    <img src="/static/img/4.jpg" class="figure-img img-fluid rounded" alt="..." style="height: 500px;width: 100%;">
    <figcaption class="figure-caption" style="font-weight: bold;">A thin crisp edible cone for holding ice cream for Rs. 100/-</figcaption>
  </figure>
  <figure class="figure" style="display: inline block;border: 5px solid rgb(0, 0, 0);width:33%">
    <img src="/static/img/5.jpg" class="figure-img img-fluid rounded" alt="..." style="height: 500px;width: 100%;">
    <figcaption class="figure-caption" style="font-weight: bold;">Vanilla IceCream garnished with colourful toppings for Rs.100/-</figcaption>
  </figure>
  <figure class="figure" style="display: inline block;border: 5px solid rgb(0, 0, 0);width:33%">
    <img src="/static/img/6.jpg" class="figure-img img-fluid rounded" alt="..." style="height: 500px;width: 100%;">
    <figcaption class="figure-caption" style="font-weight: bold;">MultiFalvoured Ice Cream each worth Rs.100/-</figcaption>
  </figure>
  <figure class="figure" style="display: inline block;border: 5px solid rgb(0, 0, 0);width:33%">
    <img src="/static/img/7.jpg" class="figure-img img-fluid rounded" alt="..." style="height: 500px;width: 100%;">
    <figcaption class="figure-caption" style="font-weight: bold;">A thin crisp edible cone for holding ice cream for Rs. 100/-</figcaption>
  </figure>
  <figure class="figure" style="display: inline block;border: 5px solid rgb(0, 0, 0);width:33%">
    <img src="/static/img/8.jpg" class="figure-img img-fluid rounded" alt="..." style="height: 500px;width: 100%;">
    <figcaption class="figure-caption" style="font-weight: bold;">Mango IceCream family pack for Rs.100/-</figcaption>
  </figure>
  <figure class="figure" style="display: inline block;border: 5px solid rgb(0, 0, 0);width:33%">
    <img src="/static/img/9.jpg" class="figure-img img-fluid rounded" alt="..." style="height: 500px;width: 100%;">
    <figcaption class="figure-caption" style="font-weight: bold;">Combo Vanilla, Pista, Chocolate and Cashew IceCream worth Rs.200/-</figcaption>
  </figure>

</div>
{% endblock body %}
