{% extends 'base.html' %}
{% block title%}
Services | 
{% endblock title %}
{% block body %}
<div style="margin: 0px auto; height: 700px;background-color: rgb(238, 221, 195);">
    <img src="/static/img/Shop.jpg" alt="" style="float: left; " >
    <h3>Years Of Trust... </h3>
    <p style="font-size: 20px;">Ideal IceCreams serves ice cream and other frozen desserts in cones, cups or dishes, the latter two to be eaten with a spoon.We prepare ice cream desserts such as sundaes (ice cream topped with syrup, whipped cream and other toppings) or milkshakes, or even a blend. Our ice cream are typically sold as regular ice cream (also called hard-packed ice cream), and/or soft serve, which is usually dispensed by a machine with a limited number of flavors (e.g., chocolate, vanilla, and "twist", or "zebra", a mix of the two).</p>
    <img src="/static/img/Desserts.jpg" alt="" style="float: right;">
    <h3>Cold Desserts...</h3>
    <p style="font-size: 20px;">Our dessert are made with confections, such as biscuits, cakes, cookies, custards, gelatins, ice creams, pastries, pies, puddings, sweet soups, tarts and fruit salad. Fruit is also commonly present in our dessert courses because of its naturally occurring sweetness.Come and enjoy the taste of Ideal IceCream</p>
    <img src="/static/img/Cup.jpg" alt="" style="display: block;margin: 0px 150px;">
</div>
{% endblock body %}
